.container {
    width: auto !important;
}

@media screen and (min-width: 1024px) {
    .container:before, .container:after, .container-fluid:before, .container-fluid:after {
    display: inline !important;
}

}
@media screen and (max-width: 767px) {
   body.page-context-top #global-viewport #pane-main {
    padding-top: 44px;
} 
}


#global-viewport #pane-main {
    z-index: 1 !important;
}

#global-viewport #header-wrapper {
    z-index: 2 !important;
}



#loginModal .modal-dialog {
    margin-top: 300px;
    width: 400px;
}
#loginModal .modal-dialog .modal-header h4 {
    font-weight: 100;
}
#loginModal .modal-dialog .modal-header {
    background-color: #f8f8f8;
    border-radius: 6px 6px 0 0;
}
#loginModal .modal-dialog .modal-body label {
    font-weight: normal;
    color: #777;
    font-size: 16px;
}
#loginModal .btn-signup {
    text-align: center;
}
#loginModal .btn-signup .btn {
    width: 100px;
}
.login {
    position: relative;
    top: 50%;
    width: 400px;
    margin: -150px auto 0 auto;
    background: #fff;
    border-radius: 4px;
}
.legend {
    position: relative;
    width: 100%;
    display: block;
    background: #d00;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px 4px 0 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
}
.input {
    position: relative;
    width: 90%;
    margin: 15px auto;
}
.input span {
    position: absolute;
    display: block;
    color: #d4d4d4;
    left: 10px;
    top: 7px;
    font-size: 20px;
}
.input input {
    width: 100%;
    height: auto;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
}
.input input:focus {
    padding: 10px 5px 10px 10px;
    outline: 0;
}
.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 90%;
}
.submit:hover, .submit:focus {} .feedback {
    position: absolute;
    bottom: -70px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 12px;
    display: none;
    opacity: 0;
}
.feedback:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;
}
.action {
    padding-top: 20px;
    padding-bottom: 15px;
}
.signup-form .action {
    padding-top: 0px;
}
#loginModal .title .title-label {
    font-size: 16px;
    color: #555;
    text-decoration: none;
    font-weight: 700;
}
#loginModal .title {
    position: relative;
    width: 90%;
    margin: 15px auto;
}
#loginModal .title .signup-switch, #loginModal .title .signin-switch {
    margin-top: 2px;
    position: absolute;
    right: 0;
    color: #999;
    text-decoration: none;
}
.icon-sign-arrow {
    width: 16px;
    height: 16px;
    background-image: url(/static/img/sprites-1.9.2.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.title .icon-sign {
    margin-left: 5px;
}
.title .signup-switch .icon-sign, .title .signin-switch .icon-sign {
    vertical-align: -3px;
}
.icon-sign-arrow {
    background-position: -173px -166px;
}
.modal-dialog-title-close {
    width: 16px;
    height: 16px;
    background-image: url(/static/img/sprites-1.9.2.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.modal-dialog-title-close {
    position: absolute;
    top: 50%;
    _top: 20px;
    right: 3px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    text-indent: -9999px;
    cursor: pointer;
    background-position: -60px -53px;
}
fieldset {
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}
.form-control-feedback {
    top: 5px !important;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#loginModal .bootstrap-switch-id-gender-switch {
    position: absolute;
    z-index: 999;
    top: 119px;
    right: 30px;
}
#loginModal label {
    position: static !important;
}
#loginModal label:before, #loginModal label:after {
    content: "";
    display: none !important;
    position: static;
}

a:hover, a:focus {
    text-decoration: none !important;
}


.source-icon {
    display: block;
    margin: -1px 0 0;
    height: 17px;
    width: 17px;
}
.source-weibo {
    background-image: url(/static/img/68-sina-weibo.png); 
}
.source-weixin {
    background-image: url(/static/img/49-tencent-mm.png); 
}
.now-feed_item-meta .shortstop {
    margin: 0 !important;
}
.nowfeed-content {
    display: block;
    color: inherit !important;
}
.nowfeed-content:hover {
    background: #f9fafc !important;
}
#global-scoreboard {
    position: static !important;
}
#global-header{
    position: static !important;
}

.col-p {
    width: 900px !important;
}
#global-viewport #pane-main {
    background: #eff3fa !important;
}
.now-feed-item {
    border: 1px solid #e3e6ee !important;
    border-radius: 5px !important;
}
.container-wrapper {
	border: 1px solid #e3e6ee !important;
    border-radius: 5px !important;
}
.favfeed_item {
	border: 1px solid #e3e6ee !important;
    border-radius: 5px !important;
}

#news-feed .container {
    margin-bottom: 0 !important;
}
.container-wrapper {
    margin-bottom: 30px;
}



#global-header .container>h1 a {
    background-image: url("http://objdsnsh2.bkt.clouddn.com/logo-espn-82x20.png");
}

.news-feed-item h1 a:visited {
    color: #1d1e1f;
}


.navcar ul {
    height: 65px;
    padding-left: 6px;
}

.navcar li {
    width: 101px;
    height: 65px;
    line-height: 14px;
    text-align: center;
    float: left;
        padding-left: 13px;
        padding-right: 13px;
        background: #fff;
                border-right: 1px solid #e3e6ee;
}
.navcar li.navcar01, .navcar li.navcar02, .navcar li.navcar11,.navcar li.navcar12 {
    width: 88px;
}
.navcar li:hover
{
    background: #f1f2f3;
}


.navcar li a {
    background: url(http://x.autoimg.cn/www/common/images/topbar_car.png) no-repeat;
    background-image: -webkit-image-set(url(http://x.autoimg.cn/www/common/images/topbar_car.png) 1x,url(http://x.autoimg.cn/www/common/images/topbar_car@2x.png) 2x);
}
.navcar li a {
    display: block;
    height: 65px;
    line-height: 22px;
    padding-top: 25px;
        margin-top: 10px;
}

.navcar li a:link, .navcar li a:visited {
    color: #666;
}
.navcar li.navcar01 a {
    background-position: -11px 0;
}
.navcar li.navcar02 a {
    background-position: -91px 0;
}
.navcar li.navcar03 a {
    background-position: -164px 0;
}
.navcar li.navcar04 a {
    background-position: -244px 0;
}
.navcar li.navcar05 a {
    background-position: -4px -60px;
}
.navcar li.navcar06 a {
    background-position: -80px -60px;
}
.navcar li.navcar07 a {
    background-position: -164px -58px;
}
.navcar li.navcar08 a {
    background-position: -244px -58px;
}
.navcar li.navcar09 a {
    background-position: -4px -120px;
}
 .navcar li.navcar10 a {
    background-position: -84px -118px;
}
.navcar li.navcar11 a {
    background-position: -171px -120px;
}
.navcar li.navcar12 a {
    background-position: -251px -120px;
}
.navcar li.navcar12 {
    border-right: 1px solid #a5a6a7;
}
.scores-next {
    border-left: 0 !important;
}
.scores-next:before {
    content: "" !important;
}