{% extends 'admin/layout.html' %} 

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.11.0/jquery-ui.css">
<link href="/static/aehlke-tag-it-1d84585/css/jquery.tagit.css" rel="stylesheet" type="text/css"> 
{% endblock %}

{% block main %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            用户管理
            <small>编辑用户</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">用户管理</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements disabled -->
              <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">基本信息</h3>
                  <button id="save-base" data-id="{{view_user.uid}}" class="btn-save btn btn-primary btn-sm pull-right">保存信息</button>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form">
                    <div class="form-group">
                      <label>用户名</label>
                      <input id="username" type="text" class="form-control" placeholder="" value="{{view_user.username}}" disabled />
                    </div>
                    <div class="form-group">
                      <label>手机</label>
                      <input id="mobile" type="text" class="form-control" placeholder="" value="{{view_user.mobile or ''}}" />
                    </div>
                    <div class="form-group">
                      <label>用户性别</label>
                      <select id="gender" class="form-control" value="{{view_user.gender  or '男'}}">
                        <option {% if view_user.gender == '男' %} selected="selected" {% endif %}>男</option>
                        <option {% if view_user.gender == '女' %} selected="selected" {% endif %}>女</option>
                      </select>
                    </div>
                    {%if user_info.admin == 'admin'%}
                    <div class="form-group">
                      <label>用户角色</label>
                      <select id="admin" class="form-control" value="{{view_user.admin or 'normal'}}">
                        <option {% if view_user.admin == 'normal' %} selected="selected" {% endif %}>normal</option>
                        <option {% if view_user.admin == 'admin' %} selected="selected" {% endif %}>admin</option>
                      </select>
                    </div>
                    {%endif%}
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!--/.col (right) -->
          </div>

        </section><!-- /.content -->
{% endblock %}

{% block javascript %}
<!-- InputMask -->
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
<script src="/static/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
<script src="/static/jquery-ui-1.11.0/jquery-ui.js"></script>
<script src="/static/aehlke-tag-it-1d84585/js/tag-it.js"></script>



<script type="text/javascript">
$(document).ready(function() {
        $("[data-mask]").inputmask();
});

$(document).on('click', '#save-base', function() {
  var user_id = $(this).attr('data-id');
  $.ajax({
    type: "POST",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    url: "/api/update/user/base?uid=" + user_id,
    data: JSON.stringify({
      gender: $('#gender').val(),
      {%if user_info.admin == 'admin'%}
      admin: $('#admin').val(),
      {%endif%}
    }),
    success: function(msg) {
      alert(msg.message);
    },
    error: function(msg) {
      alert("error");
    }
  });         
});
</script>
{%endblock%}