<!DOCTYPE html>
<html class="js no-touch history video localstorage desktop-ua  scrollbars-17 desktop translated-ltr" style=""><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="canonical" href="http://espn.go.com">
    <title>ESPN：全球领先的体育</title>
    <meta name="description" content="Visit ESPN to get up-to-the-minute sports news coverage, scores, highlights and commentary for NFL, MLB, NBA, College Football, NCAA Basketball and more.">
    <meta name="news_keywords" content="ESPN.com, ESPN, ESPN2, ESPNews, ESPN Classic, ESPNU, Insider, sports scores, sports news, MLB scores, NFL scores, NBA scores, NHL scores, College Football scores, College Basketball scores, sports videos, sports information, Fantasy sports, Fantasy games, Fantasy football, Fantasy baseball">
    <meta name="keywords" content="ESPN.com, ESPN, ESPN2, ESPNews, ESPN Classic, ESPNU, Insider, sports scores, sports news, MLB scores, NFL scores, NBA scores, NHL scores, College Football scores, College Basketball scores, sports videos, sports information, Fantasy sports, Fantasy games, Fantasy football, Fantasy baseball">
    <meta property="fb:app_id" content="116656161708917">
    <meta property="og:site_name" content="ESPN.com">
    <meta property="og:url" content="http://espn.go.com">
    <meta property="og:title" content="ESPN: The Worldwide Leader in Sports">
    <meta property="og:description" content="Visit ESPN to get up-to-the-minute sports news coverage, scores, highlights and commentary for NFL, MLB, NBA, College Football, NCAA Basketball and more.">
    <meta property="og:image" content="http://a1.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fespn_logos%2Fespn_red.png">
    <meta property="og:type" content="website">
    <meta name="title" content="ESPN: The Worldwide Leader in Sports">
    <meta name="medium" content="index">
    <!-- Indicate preferred brand name for Google to display -->
    <link rel="mask-icon" sizes="any" href="http://a.espncdn.com/prod/assets/icons/E.svg" color="#990000">
    <link rel="shortcut icon" href="http://a.espncdn.com/favicon.ico">
    <link rel="apple-touch-icon" href="http://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons/espn_icon-57x57.min.png">
    <link rel="apple-touch-icon-precomposed" href="http://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons/espn_icon-57x57.min.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons/espn_icon-72x72.min.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons/espn_icon-114x114.min.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://a.espncdn.com/wireless/mw5/r1/images/bookmark-icons/espn_icon-152x152.min.png">
    <link rel="alternate" href="android-app://com.espn.score_center/sportscenter/x-callback-url/showFeatured">
    <link rel="alternate" href="ios-app://317469184/sportscenter/x-callback-url/showFeatured">

    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrapvalidator/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
    <link href="/static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">

    

    <link id="font-link" rel="stylesheet" href="/static/css/base64-benton-woff.css">
    <link rel="stylesheet" href="/static/css/shell-desktop.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <link class="page-type-include" rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    {% block stylesheet %}{% endblock %}</head>

<body class="index desktop page-context-top prod null" data-pagetype="index" data-sport="" data-customstylesheet="null">
    
    <div id="global-viewport" data-behavior="global_nav_condensed global_nav_full" class="">
        <div id="header-wrapper" data-behavior="global_header" class="hidden-print">
            <section id="global-scoreboard" class="hide-fullbtn no-datepicker">
                <div class="wrap">
                    <div class="scoreboard-content">
                        <div class="scoreboard-dropdown-wrapper scoreboard-menu">
                            <!-- mobile dropdown -->
                            <div class="league-nav-wrapper league-nav-mobile mobile-dropdown">
                                <span class="mobile-arrow"></span>
                                <select id="league-nav">
                                    <option value="topEvents" data-id="0" data-league="topEvents" data-sport="" data-draft="false" class="active">
                                        热门活动
                                    </option>
                                    <option value="mlb" data-id="10" data-league="mlb" data-sport="baseball" data-draft="false">
                                        MLB
                                    </option>
                                    <option value="global.champs_cup" data-id="8307" data-league="global.champs_cup" data-sport="soccer" data-draft="false">
                                        国际冠军杯
                                    </option>
                                    <option value="sprint" data-id="2021" data-league="sprint" data-sport="racing" data-draft="false">
                                        NASCAR
                                    </option>
                                    <option value="pga" data-id="1106" data-league="pga" data-sport="golf" data-draft="false">
                                        高尔夫（M）
                                    </option>
                                    <option value="usa.1" data-id="770" data-league="usa.1" data-sport="soccer" data-draft="false">
                                        MLS
                                    </option>
                                    <option value="fifa.friendly.w" data-id="3923" data-league="fifa.friendly.w" data-sport="soccer" data-draft="false">
                                        女子国际友谊赛
                                    </option>
                                    <option value="wnba" data-id="59" data-league="wnba" data-sport="basketball" data-draft="false">
                                        WNBA
                                    </option>
                                </select>
                            </div>
                            <!-- desktop dropdown -->
                            <div class="dropdown-wrapper league-nav-desktop desktop-dropdown hoverable" data-behavior="button_dropdown">
                                <button type="button" class="button button-filter med dropdown-toggle current-league-name">
                                    <font>
                                        <font>热门活动</font>
                                    </font>
                                </button>
                                <ul class="dropdown-menu league-nav med">
                                    <li class="league active">
                                        <a href="#" data-id="0" data-league="topEvents" data-sport="" data-draft="false">
                                            <font>
                                                <font>热门活动</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="10" data-league="mlb" data-sport="baseball" data-draft="false">
                                            <font>
                                                <font>MLB</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="8307" data-league="global.champs_cup" data-sport="soccer" data-draft="false">
                                            <font>
                                                <font>国际冠军杯</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="2021" data-league="sprint" data-sport="racing" data-draft="false">
                                            <font>
                                                <font>NASCAR</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="1106" data-league="pga" data-sport="golf" data-draft="false">
                                            <font>
                                                <font>高尔夫（M）</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="770" data-league="usa.1" data-sport="soccer" data-draft="false">
                                            <font>
                                                <font>MLS</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="3923" data-league="fifa.friendly.w" data-sport="soccer" data-draft="false">
                                            <font>
                                                <font>女子国际友谊赛</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="league">
                                        <a href="#" data-id="59" data-league="wnba" data-sport="basketball" data-draft="false">
                                            <font>
                                                <font>WNBA</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="scoreboard-dropdown-wrapper  conference-menu">
                            <!-- mobile dropdown -->
                            <div class="conference-nav-wrapper mobile-dropdown">
                                <span class="mobile-arrow"></span>
                                <select id="conference-nav"></select>
                            </div>
                            <!-- desktop dropdown -->
                            <div class="dropdown-wrapper desktop-dropdown hoverable" data-behavior="button_dropdown">
                                <button type="button" class="button button-filter med dropdown-toggle current-conference-name"></button>
                                <ul class="dropdown-menu conference-nav med"></ul>
                            </div>
                        </div>
                        <div class="scoreboard-dropdown-wrapper scores-date-pick">
                            <div class="dropdown-wrapper hoverable" data-behavior="button_dropdown">
                                <button type="button" class="button button-filter dropdown-toggle med selected-date"></button>
                                <ul class="dropdown-menu date-nav med"></ul>
                            </div>
                        </div>
                        <div class="scoreboard-dropdown-wrapper secondary-nav-container hidden"></div>
                        <div class="scores-prev controls inactive">
                            <font>
                                <font>&lt;</font>
                            </font>
                        </div>
                        <div id="fullbtn" class="view-full"></div>
                        <div class="scores-next controls">
                            <font>
                                <font>&gt;</font>
                            </font>
                        </div>
                        <div class="navcar">
                        <ul>
                            <li class="navcar01"><a target="_blank" href="http://www.autohome.com.cn/a00/#pvareaid=103421" data-tjposition="4|1">微型车</a></li>
                            <li class="navcar02"><a target="_blank" href="http://www.autohome.com.cn/a0/#pvareaid=103421" data-tjposition="4|2">小型车</a></li>
                            <li class="navcar03"><a target="_blank" href="http://www.autohome.com.cn/a/#pvareaid=103421" data-tjposition="4|3">紧凑型车</a></li>
                            <li class="navcar04"><a target="_blank" href="http://www.autohome.com.cn/b/#pvareaid=103421" data-tjposition="4|4">中型车</a></li>
                            <li class="navcar05"><a target="_blank" href="http://www.autohome.com.cn/c/#pvareaid=103421" data-tjposition="4|5">中大型车</a></li>
                            <li class="navcar06"><a target="_blank" href="http://www.autohome.com.cn/d/#pvareaid=103421" data-tjposition="4|6">大型车</a></li>
                            <li class="navcar07" id="auto-header-suv">
                                <a target="_blank" href="http://www.autohome.com.cn/suv/#pvareaid=103451" data-tjposition="4|7"><i class="topbar-icon topbar-icon10 topbar-icon10-sjb"></i>SUV</a>
                                <div id="auto-header-suv-list" style="display: none;" class="dropdown">
                                    <dl>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suv/#pvareaid=103421" data-tjposition="4|7|1">全部SUV</a></dd>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suva0/#pvareaid=103421" data-tjposition="4|7|2">小型SUV</a></dd>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suva/#pvareaid=103421" data-tjposition="4|7|3">紧凑型SUV</a></dd>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suvb/#pvareaid=103421" data-tjposition="4|7|4">中型SUV</a></dd>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suvc/#pvareaid=103421" data-tjposition="4|7|5">中大型SUV</a></dd>
                                        <dd><a target="_blank" href="http://www.autohome.com.cn/suvd/#pvareaid=103421" data-tjposition="4|7|6">大型SUV</a></dd>
                                    </dl>
                                </div>
                            </li>
                            <li class="navcar08"><a target="_blank" href="http://www.autohome.com.cn/mpv/#pvareaid=103421" data-tjposition="4|8">MPV</a></li>
                            <li class="navcar09"><a target="_blank" href="http://www.autohome.com.cn/s/#pvareaid=103421" data-tjposition="4|9">跑车</a></li>
                            <li class="navcar10"><a target="_blank" href="http://www.autohome.com.cn/p/#pvareaid=103421" data-tjposition="4|10">皮卡</a></li>
                            <li class="navcar11"><a target="_blank" href="http://www.autohome.com.cn/mb/#pvareaid=103421" data-tjposition="4|11">微面</a></li>
                            <li class="navcar12"><a target="_blank" href="http://diandong.autohome.com.cn#pvareaid=103686" data-tjposition="4|12">电动车</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </section>
            <header id="global-header" class="espn-en user-account-management has-search">
                <div class="menu-overlay-secondary"></div>
                <div class="container">
                    
                    <h1><a href="/" name="&amp;lpos=sitenavdefault&amp;lid=sitenav_main-logo"><font><font>ESPN</font></font></a></h1>
                    <ul class="tools">
                        <li class="search">
                            <a href="#" class="icon-font-after icon-search-solid-after" id="global-search-trigger"></a>
                            <div id="global-search" class="global-search">
                                <input type="text" class="search-box" placeholder="Search Sports, Teams or Players...">
                                <input type="submit" class="btn-search">
                            </div>
                        </li>
                        <li class="user" data-behavior="favorites_mgmt">
                            <a href="#" id="global-user-trigger" data-route="false">
                                <font>
                                    <font>签到</font>
                                </font>
                            </a>
                            <div class="global-user">
                                <ul>
                                    <li class="display-user">
                                        <font>
                                            <font>欢迎</font>
                                        </font><span><font><font>周杰伦！</font></font></span></li>
                                    <li class="insider">
                                        <a data-language="en" data-behavior="overlay" tref="http://insider.espn.go.com/insider/promo/offer?addata=2009_insdr_xxx_wel_tst_actinsider"><img src="http://a.espncdn.com/redesign/assets/img/icons/icon-insider-bigger.png" class="imageLoaded">
                                            <font>
                                                <font>激活内幕</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <font>
                                            <font>管理我的：</font>
                                        </font>
                                    </li>
                                    <li>
                                        <a tref="/members/v3_1/modifyAccount" data-language="en" data-behavior="overlay">
                                            <font>
                                                <font>帐户信息</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li class="noMobile">
                                        <a tref="/members/v3_1/modifyNewsletters" data-language="en" data-behavior="overlay">
                                            <font>
                                                <font>简讯</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-behavior="video_settings">
                                            <font>
                                                <font>视频设置</font>
                                            </font>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="javascript:espn.memberservices.logout();return false;" href="#" class="small">
                                            <font>
                                                <font>登出</font>
                                            </font>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="favs" data-behavior="favorites_mgmt">
                                    <li>
                                        <div class="current-favorites">
                                            <h2 class="feed-title favorites"><font><font>收藏夹</font></font><span class="settings open-favs"><font><font>设置</font></font></span></h2>
                                            <ul class="current-favorites-container">
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:1" href="/mlb/team/_/name/nyy/" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/mlb/500/nyy.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    纽约洋基队
                                                                </font>
                                                            </font><span><font><font>MLB</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    MLB
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:2" href="http://espnfc.com/team/real-madrid/86/index" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/86.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    皇家马德里
                                                                </font>
                                                            </font><span><font><font>足球</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    足球
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:3" href="http://espnfc.com/team/bayern-munich/132/index" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/132.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    拜仁慕尼黑
                                                                </font>
                                                            </font><span><font><font>足球</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    足球
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:4" href="http://espnfc.com/team/manchester-city/382/index" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/382.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    曼城
                                                                </font>
                                                            </font><span><font><font>足球</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    足球
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:5" href="http://espnfc.com/team/aberdeen/263/index" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/263.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    阿伯丁
                                                                </font>
                                                            </font><span><font><font>足球</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    足球
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a name="&amp;lpos=favorites:nav:team:user:clubhouse:6" href="http://espnfc.com/team/barcelona/83/index" class="fav-header">
                                                        <div class="fav-img-wrap"><img data-behavior="fix_broken_images" class="main imageLoaded" src="http://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/83.png&amp;w=100&amp;h=100&amp;transparent=true"></div>
                                                        <div class="link-text">
                                                            <font>
                                                                <font>
                                                                    巴塞罗那
                                                                </font>
                                                            </font><span><font><font>足球</font></font></span>
                                                        </div>
                                                        <div class="link-text-short">
                                                            <font>
                                                                <font>
                                                                    足球
                                                                </font>
                                                            </font>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#" id="global-scoreboard-trigger" data-route="false">
                                <font>
                                    <font>成绩</font>
                                </font>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav id="global-nav" data-loadtype="client" data-wayfindsport="">
                    <ul class="espn-en" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement" style="display: block;">
                        <li class="sports menu-nba" itemprop="name">
                            <a itemprop="url" href="/reviews" name="&amp;lpos=sitenavcustom+sitenav_nba">
                                <span><span class="link-text"><font><font>车评</font></font></span>
                                <span class="link-text-short"><font><font>车评</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="sports menu-nfl" itemprop="name">
                            <a itemprop="url" href="/nfl/" name="&amp;lpos=sitenavcustom+sitenav_nfl">
                                <span><span class="link-text"><font><font>大神经验</font></font></span>
                                <span class="link-text-short"><font><font>大神经验</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="sports menu-golf" itemprop="name">
                            <a itemprop="url" href="/golf/" name="&amp;lpos=sitenavcustom+sitenav_golf" data-icon="golf">
                                <span><span class="link-text"><font><font>装备</font></font></span>
                                <span class="link-text-short"><font><font>装备</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="sports menu-mlb" itemprop="name">
                            <a itemprop="url" href="/mlb/" name="&amp;lpos=sitenavcustom+sitenav_mlb">
                                <span><span class="link-text"><font><font>游记</font></font></span>
                                <span class="link-text-short"><font><font>游记</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="sports menu-ncaaf" itemprop="name">
                            <a itemprop="url" href="/college-football/" name="&amp;lpos=sitenavcustom+sitenav_ncf" data-icon="football-college">
                                <span><span class="link-text"><font><font>什么值得买</font></font></span>
                                <span class="link-text-short"><font><font>什么值得买</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="external sports menu-soccer" itemprop="name">
                            <a itemprop="url" href="/bbs" name="&amp;lpos=sitenavcustom+sitenav_soccer">
                                <span><span class="link-text"><font><font>社区</font></font></span>
                                <span class="link-text-short"><font><font>社区</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="none more" itemprop="name">
                            <a itemprop="url" href="#" data-mobile="false">
                                <span><span class="link-text"><font><font>...</font></font></span>
                                <span class="link-text-short"><font><font>...</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="pillar more-espn" itemprop="name">
                            <a itemprop="url" href="#">
                                <span><span class="link-text"><font><font>更多ESPN</font></font></span>
                                <span class="link-text-short"><font><font>更多ESPN</font></font></span>
                                </span>
                            </a>
                            
                        </li>

                        <li class="pillar listen" itemprop="name">
                            <a itemprop="url" href="http://espn.go.com/espnradio/index" name="&amp;lpos=sitenavcustom+sitenav_listen">
                                <span><span class="link-text"><font><font>文章</font></font></span>
                                <span class="link-text-short"><font><font>文章</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                        <li class="pillar watch" itemprop="name">
                            <a itemprop="url" href="http://espn.go.com/watchespn/index" name="&amp;lpos=sitenavcustom+sitenav_watch">
                                <span><span class="link-text"><font><font>视频</font></font></span>
                                <span class="link-text-short"><font><font>视频</font></font></span>
                                </span>
                            </a>
                            
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        {% block main %}{% endblock %}

        {%if user_info==none%}
            <div id="loginModal" class="modal fade" {%if link%}data-link="{{link}}" {%endif%} {%if link2%}data-link2="{{link2}}" {%endif%}>
                <div class="modal-dialog">
                    <form class="login signin-form" action="/signin" method="POST">
                        <fieldset>
                            <legend class="legend">
                                登录或注册
                                <span class="modal-dialog-title-close" data-dismiss="modal"></span>
                            </legend>
                            <div class="title">
                                <a class="js-signup signup-switch with-icon" href="javascript:;">

                        注册

                        <i class="icon-sign icon-sign-arrow"></i>

                    </a>
                                <span class="js-title-label title-label">登录玩主</span>
                            </div>
                            <div class="form-group input">
                                <input type="text" name="mobile" placeholder="手机" class="form-control email-input" />
                                <span>

                                <i class="fa fa-mobile"></i>

                            </span>
                            </div>
                            <div class="form-group input">
                                <input type="password" name="password" placeholder="密码" class="form-control password-input" />
                                <span>

                                <i class="fa fa-lock"></i>

                            </span>
                            </div>
                            <div class="action">
                                <button type="submit" class="submit btn btn-success btn-signin">登录</button>
                            </div>
                        </fieldset>
                        {{ xsrf_form_html() }}
                    </form>

                    <form class="login signup-form" style="display: none;" action="/signup" method="POST">
                        <fieldset>
                            <legend class="legend">
                                登录或注册
                                <span class="modal-dialog-title-close" data-dismiss="modal"></span>
                            </legend>
                            <div class="title">
                                <a class="js-signup signin-switch with-icon" href="javascript:;">

                        登录

                        <i class="icon-sign icon-sign-arrow"></i>

                    </a>
                                <span class="js-title-label title-label">快速注册</span>
                            </div>

                            <div class="form-group input">
                                <input type="text" name="username" placeholder="用户名" class="form-control username-input" />
                                <span>

                                <i class="fa fa-user"></i>

                            </span>
                            </div>

                            <input type="checkbox" name="gender" id="gender-switch" data-on-text="男" data-off-text="女" data-on-color="success" data-off-color="danger" checked>

                            <div class="form-group input">
                                <input type="text" name="mobile" placeholder="手机" class="form-control email-input" />
                                <span>

                                <i class="fa fa-mobile"></i>

                            </span>
                            </div>

                            <div class="form-group input">
                                <input type="password" name="password" placeholder="密码" class="form-control password-input" />
                                <span>

                                <i class="fa fa-lock"></i>

                            </span>
                            </div>

                            <div class="form-group input">
                                <script async type="text/javascript" src="http://api.geetest.com/get.php?gt=aa45a1e576f4766651234093fc86a383"></script>
                            </div>
                            <div class="action">
                                <button type="submit" class="submit btn btn-success btn-sinup">注册</button>
                            </div>

                        </fieldset>
                        {{ xsrf_form_html() }}
                    </form>

                    <form class="login signin-error" data-error="{{error}}" style="disply: none">
                        <fieldset>
                            <legend class="legend">
                                登录或注册
                                <span class="modal-dialog-title-close" data-dismiss="modal"></span>
                            </legend>
                            <div class="title">
                                <a class="js-signup signin-switch with-icon" href="javascript:;">

                        重新登录

                        <i class="icon-sign icon-sign-arrow"></i>

                    </a>
                                <span class="js-title-label title-label">登录失败</span>
                            </div>
                            <div class="input error-text">
                                你输入邮箱或密码有误，请重试。
                            </div>
                        </fieldset>
                    </form>

                    <form class="login signup-error" data-error={{error}} style="disply: none">
                        <fieldset>
                            <legend class="legend">
                                登录或注册
                                <span class="modal-dialog-title-close" data-dismiss="modal"></span>
                            </legend>
                            <div class="title">
                                <a class="js-signup signup-switch with-icon" href="javascript:;">

                        重新注册

                        <i class="icon-sign icon-sign-arrow"></i>

                    </a>
                                <span class="js-title-label title-label">注册失败</span>
                            </div>
                            <div class="input error-text">
                                你输入的注册信息有误，请重试。
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            {%endif%}
    </div>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
        <script src="/static/bootstrapvalidator/bootstrapValidator.min.js"></script>
        <script src="/static/js/jquery.bootstrap-autohidingnavbar.js"></script>
        
        

        {% block javascript %}{% endblock %}

        <script type="text/javascript">

            $(document).ready(function() {
                $('#global-scoreboard').autoHidingNavbar();

                    {% if user_info == none %}
                    $(".username-input").focus(function() {
                        $(".bootstrap-switch-id-gender-switch").hide();
                    });

                    $(".username-input").focusout(function() {
                        $(".bootstrap-switch-id-gender-switch").show();
                    });

                    $('.signin-form').bootstrapValidator({
                        message: 'This value is not valid',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            mobile: {
                                validators: {
                                    notEmpty: {
                                        message: '手机不能为空'
                                    },
                                    regexp : {
                                        regexp : /^\d{11}$/,
                                        message : '手机号码为11位数字'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: '密码不能为空'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 64,
                                        message: '密码长度在 6 - 64 个字符之间'
                                    }
                                }
                            },
                        }
                    });

                    $('.signup-form').bootstrapValidator({
                        message: 'This value is not valid',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            username: {
                                message: '用户名格式错误',
                                validators: {
                                    notEmpty: {
                                        message: '用户名不能为空'
                                    },
                                    stringLength: {
                                        min: 3,
                                        max: 16,
                                        message: '用户名长度在 3 - 16 个字符之间'
                                    },
                                    regexp: {
                                        regexp: /^(?!_)(?!.*?_$)(?!\d+)[a-zA-Z0-9_\u4e00-\u9fa5]+$/,
                                        message: "用户名可由中英文，数字，'_' 构成，但 '_' 不可在首尾，也不能全为数字"
                                    }
                                }
                            },
                            mobile: {
                                validators: {
                                    notEmpty: {
                                        message: '手机不能为空'
                                    },
                                    regexp : {
                                        regexp : /^\d{11}$/,
                                        message : '手机号码为11位数字'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: '密码不能为空'
                                    },
                                    stringLength: {
                                        min: 6,
                                        max: 64,
                                        message: '密码长度在 6 - 64 个字符之间'
                                    }
                                }
                            },
                            invite: {
                                message: '邀请码错误',
                                validators: {
                                    notEmpty: {
                                        message: '邀请码不能为空'
                                    },
                                    uuid: {
                                        message: '邀请码格式不正确'
                                    },
                                }
                            },
                        }
                    });

                    {% if error == none %}
                    {% if sign_in_up == "signin" %}
                    $('#loginModal').modal('show');
                    $('.signin-error').hide();
                    $('.signup-error').hide();
                    var link = $('#loginModal').attr('data-link');
                    var link2 = $('#loginModal').attr('data-link2');
                    var action;
                    if (link != null) {
                        action = "/signin?r=" + link;
                        if (link2 != null) {
                            action = action + "&n=" + link2;
                        }
                        $(".signin-form").attr("action", action);
                    }
                    {% endif %}

                    {% if sign_in_up == "signup" %}
                    {% if invite %}
                    var invite = $('.invite-input').val()
                    $('.invite-input').parent().hide();
                    {% endif %}
                    $('#loginModal').modal('show');
                    $('.signin-form').hide();
                    $('.signup-form').show();
                    $('.signin-error').hide();
                    $('.signup-error').hide();
                    var link = $('#loginModal').attr('data-link');
                    var link2 = $('#loginModal').attr('data-link2');
                    var action;
                    if (link != null) {
                        action = "/signup?r=" + link;
                        if (link2 != null) {

                            action = action + "&n=" + link2;
                        }
                        $(".signin-form").attr("action", action);
                    }
                    {% endif %}
                    {% else %}
                    {% if sign_in_up == "signin" %}
                    $('#loginModal').modal('show');
                    $('.signin-form').hide();
                    $('.signup-form').hide();
                    $('.signup-error').hide();
                    var error = $('.signin-error').attr("data-error");
                    var error_text = ""
                    if (error=="1") {
                        error_text = "该手机号注册的用户不存在，请检查重试。";
                    } else if (error=="2") {
                        error_text = "输入的用户密码有误，请检查重试。";
                    }
                    $('.signin-error .error-text').text(error_text);
                    $('.signin-error').show();
                    {% endif %}

                    {% if sign_in_up == "signup" %}
                    $('#loginModal').modal('show');
                    $('.signin-form').hide();
                    $('.signup-form').hide();
                    $('.signin-error').hide();
                    var error = $('.signup-error').attr("data-error");
                    var error_text = ""
                    if (error=="2") {
                        error_text = "你输入的邀请码有误，请输入正确的邀请码重试。";
                    } else if (error=="3") {
                        error_text = "所填手机号已经被注册过，请更改手机号重试。";
                    } else if (error=="4") {
                        error_text = "所填用户名已经被注册过，请更改用户名重试。";
                    } else {
                        error_text = "你输入的注册信息有误，请重试。";
                    }
                    $('.signup-error .error-text').text(error_text);
                    $('.signup-error').show();
                    {% endif %}
                    {% endif %}

                    $(document).on('click', '.unlogin', function() {
                        $('#loginModal').modal('show');
                        $('.signin-form').show();
                        $('.signup-form').hide();
                        $('.signin-error').hide();
                        $('.signup-error').hide();
                        var link = $(this).attr('data-link');
                        var link2 = $(this).attr('data-link2');
                        var action;
                        if (link != null) {
                            action = "/signin?r=" + link;
                            if (link2 != null) {
                                action = action + "&n=" + link2;
                            }
                            $(".signin-form").attr("action", action);
                        }
                    });

                    $(".input").focusin(function() {
                        $(this).find("span").animate({
                            "opacity": "0"
                        }, 200);
                    });

                    $(".input").focusout(function() {
                        $(this).find("span").animate({
                            "opacity": "1"
                        }, 300);
                    });

                    $(document).on('click', '.signup-switch', function() {
                        $('.signin-form').hide();
                        $('.signup-form').show();
                        $('.signin-error').hide();
                        $('.signup-error').hide();
                    });

                    $(document).on('click', '.signin-switch', function() {
                        $('.signup-form').hide();
                        $('.signin-form').show();
                        $('.signin-error').hide();
                        $('.signup-error').hide();
                    });

                    $(document).on('click', '.nav-signup', function() {
                        $('#loginModal').modal('show');
                        $('.signin-form').hide();
                        $('.signup-form').show();
                        $('.signin-error').hide();
                        $('.signup-error').hide();
                    });

                    $("#gender-switch").bootstrapSwitch();
                    {% endif %}
                });
        </script>
</body>
</html>